<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="indexController">
<head>
	<meta name="fragment" content="!">
	<title ng-bind="seo.pageTitle "></title>
	<meta charset="utf-8">
	<meta name="robots" content="Grand Catch, GrandCatch, Price comparison, Amazon, Ebay, Search, Wishlist, Daily deals, popular items, categories" />
	<meta name="google-site-verification" content="Search for products from both Amazon and Ebay and provide the search results to the users for price/item comparison." />
	<meta name="description" content="{{ seo.metaDescription }}">
	<meta name="keywords" content="Grand Catch, GrandCatch, Price comparison, Amazon, Ebay, Product search, Wishlist, Daily deals, popular items, categories, find lower price">
	<meta name="author" content="Kyungbae Kim, Tyler Nguyen">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">

	<!-- favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<!-- Place favicon.ico in the root directory -->
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300' rel='stylesheet' type='text/css'>

	<!-- links for theme -->
	<link rel="stylesheet" href="stylesheets/animate.css">
	<!-- jquery-ui.min css -->
	<link rel="stylesheet" href="stylesheets/jquery-ui.min.css">
	<!-- meanmenu css -->
	<link rel="stylesheet" href="stylesheets/meanmenu.min.css">
	<!-- Font-Awesome css -->
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<!-- pe-icon-7-stroke css -->
	<link rel="stylesheet" href="stylesheets/pe-icon-7-stroke.css">
	<!-- Flaticon css -->
	<link rel="stylesheet" href="stylesheets/flaticon.css">
	<!-- venobox css -->
	<!-- owl.carousel css -->
	<!-- responsive css -->
	<link rel="stylesheet" href="stylesheets/responsive.css">

	<script type='text/javascript' src='http://code.jquery.com/jquery-2.2.2.js'></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/components/moment/moment.js"></script>
	<script type="text/javascript" src="/components/angular-moment/angular-moment.js"></script>
	<script type="text/javascript" src='/pattern/url-pattern.js'></script>
	<script type="text/javascript" src="/components/ng-idle/angular-idle.min.js"></script>

	<!-- ui bootstrap -->
	<script type="text/javascript" src="scripts/ui-bootstrap-2.1.3.min.js"></script>
	<script type="text/javascript" src="/components/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

	<script type="text/javascript" src="scripts/modernizr-2.8.3.min.js"></script>
	<!-- pagination -->
	<script type="text/javascript" src="/components/angular-utils-pagination/dirPagination.js"></script>

	<!-- create myApp module and routes -->
	<script type="text/javascript" src='scripts/app.js'></script>

	<!-- Controllers -->
	<script type="text/javascript" src='scripts/controllers/indexController.js'></script>
	<script type="text/javascript" src='scripts/controllers/mainController.js'></script>
	<script type="text/javascript" src='scripts/controllers/itemsController.js'></script>
	<script type="text/javascript" src='scripts/controllers/paginateController.js'></script>
	<script type="text/javascript" src='scripts/controllers/usersController.js'></script>
	<script type="text/javascript" src='scripts/controllers/modalController.js'></script>
	<script type="text/javascript" src='scripts/controllers/reviewController.js'></script>
	<script type="text/javascript" src='scripts/controllers/dailyDealsController.js'></script>
	<script type="text/javascript" src='scripts/controllers/topAmazonSellerController.js'></script>
	<script type="text/javascript" src='scripts/controllers/topEbaySellerController.js'></script>
	<script type="text/javascript" src='scripts/controllers/topSingleItemController.js'></script>
	<script type="text/javascript" src='scripts/controllers/wishlistController.js'></script>

	<!-- Factories -->
	<script type="text/javascript" src='scripts/factories/userFactory.js'></script>
	<script type="text/javascript" src='scripts/factories/itemsFactory.js'></script>
	<script type="text/javascript" src='scripts/factories/wishlistFactory.js'></script>

	<!-- Bootstrap -->
	<link href='/css/bootstrap.css' rel='stylesheet'>
	<script type="text/javascript" src='/js/bootstrap.js'></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	<!-- Async -->
	<script type="text/javascript" src="scripts/async.js"></script>

	<!-- Autofocus -->
	<script type="text/javascript" src="scripts/autofocus.js"></script>

	<!-- angularjs slider -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.1/rzslider.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.1/rzslider.min.js"></script>

	<!-- ecommerce style css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/estyle.css">
	<!-- custom style css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
	<!-- preloader -->
<div id="preloader">
    <div class="spinner spinner-round"></div>
</div>
<!-- / preloader -->
	<div ng-controller='usersController'>
		<!--Header Area Start-->
		<!-- <div class="header-area">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<div class="header-loo">
							<a href="#/">
								<img id='logo'src="images/Grand-Catch-02.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-md-8 col-sm-12 col-sm-12">
						<div class="mainmenu text-center">
							<nav>
								<div class='searchBar'>
									<form>
										<input type="text" id='search_keywords' name="keywords" autofocus placeholder='Search Product' ng-model="search.keywords">
										<button type="submit" ng-click="searchKey()"><i class="fa fa-search"></i></button>
									</form>
								</nav>
							</div>
						</div>
						<div class="col-m-2">
							<div class="header-right">
								<ul ng-if="!sessionUser.user">
									<li>
										<a href="" ng-click="login()" title="Log in"><i class="flaticon-people"></i></a>
									</li>
									<li>
										<a href="" ng-click="register()">Register</a>
									</li>
								</ul>
								<ul ng-if="sessionUser.user && sessionUser.loggedIn">
									<li>
										Welcome, {{ sessionUser.user.name }}!
									</li>
									<li>
										<a href="#/wishlist/{{ sessionUser.user.id }}" title="Go to wishlist page"><i class="fa fa-heart wishlist"></i></a>
									</li>
									<li>
										<a href="" ng-click="logout()"><i class="fa fa-sign-out" title="Log out"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<nav class="navbar navbar-default navbar-fixed-top">
	  	<div id="nav" class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" id="nav-main" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/"><img id='logo' src="images/Grand-Catch-LOGO.png" alt=""></a>
				<div class="col-xs-7 col-sm-6 pullright">
				 <form class="navbar-form" role="search">
					 <div class="input-group">
						 <!-- <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term"> -->
						 <input type="text" id='search_keywords' class="form-control"  name="keywords" autofocus placeholder='Search Product' ng-model="search.keywords">

						 <div class="input-group-btn">
							 <!-- <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button> -->
							 <button type="submit" class="btn btn-default" ng-click="searchKey()"><i class="fa fa-search"></i></button>
						 </div>
					 </div>
				 </form>
			 </div>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul ng-if="!sessionUser.user" class="nav navbar-nav navbar-right">
					<li><a href="" ng-click="login()" title="Log in"><i class="flaticon-people" style="font-size: 20px;"></i></a></li>
					<li><a href="" ng-click="register()" style="font-size: 16px">Register</a></li>
				</ul>
				<ul ng-if="sessionUser.user && sessionUser.loggedIn" class="nav navbar-nav navbar-right">
					<li><a href="#/">Welcome, {{ sessionUser.user.name }}!</a></li>
					<li><a href="#/wishlist/{{ sessionUser.user.id }}" title="Go to wishlist page"><i class="fa fa-heart wishlist"></i></a></li>
					<li><a href="" ng-click="logout()"><i class="fa fa-sign-out" title="Log out"></i></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
		</nav>
	</div>
<!-- Mobile Menu End -->
<!-- end of usersController -->
	<div class="partial" ng-view=''></div>
	<div class="container ">
		<!-- <div class="row amazon-wrapper">
			<div class="recommended">
				<script type="text/javascript" src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&storeId=grandcatch-20&adInstanceId=df8e9837-ec2f-4899-b173-4fe65761e6f8"></script> -->
				<!-- <script type="text/javascript" src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&storeId=grandcatch-20&adInstanceId=c94861e7-f204-4a26-bc91-0372c5074b60"></script>
				<script type="text/javascript"  src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&storeId=grandcatch-20&adInstanceId=6bf40936-6475-43a8-af23-38c5ed22bd42"></script>
			</div>
		</div> -->
	</div>
	<!-- Footer Area Start -->
	<footer>
	    <div class="footer-top-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-3 col-sm-8">
	                    <div class="footer-left">
	                        <a href="#/">
	                            <img style='width:175px; height:auto' src="images/Grand-Catch-White-02.png" alt="">
	                        </a>
	                        <p>Find the lowest price from Amazon and ebay</p>
	                        <ul class="footer-contact">
	                            <li>
	                                <i class="flaticon-location"></i>
	                                Seattle, WA
	                            </li>
	                            <li>
	                                <i class="flaticon-technology"></i>
	                                (+206) 412 8332
	                            </li>
	                            <li>
	                                <i class="flaticon-web"></i>
	                                grandcatch20@gmail.com
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-md-2 col-sm-4">
	                    <div class="single-footer">
	                        <h2 class="footer-title">Information</h2>
	                        <ul class="footer-list">
	                            <li><a href="about.html">About Us</a></li>
	                            <li><a href="#">Privacy & Policy</a></li>
	                            <li><a href="#">Terms & Conditions</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-md-2 hidden-sm">
	                    <div class="single-footer">
	                        <h2 class="footer-title">My Account</h2>
	                        <ul class="footer-list">
	                            <li><a href="my-account.html">My Account</a></li>
	                            <li><a href="account.html">Login</a></li>
	                            <li><a href="wishlist.html">Wishlist</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-md-2 hidden-sm">
	                    <div class="single-footer">
	                        <h2 class="footer-title">Shop</h2>
	                        <ul class="footer-list">
	                            <li><a href="#">Search Terms</a></li>
	                            <li><a href="#">Advance Search</a></li>
	                            <li><a href="#">Affiliates</a></li>
	                            <li><a href="#">Group Sales</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-md-3 col-sm-8">
	                    <div class="single-footer footer-newsletter">
	                        <h2 class="footer-title">Our Newsletter</h2>
	                        <p>Consectetur adipisicing elit se do eiusm od tempor incididunt ut labore et dolore magnas aliqua.</p>
	                        <form action="#" method="post">
	                            <div>
	                                <input type="text" placeholder="email address">
	                            </div>
	                            <button class="btn btn-search btn-small" type="submit">SUBSCRIBE</button>
	                            <i class="flaticon-networking"></i>
	                        </form>
	                        <ul class="social-icon">
	                            <li>
	                                <a href="#">
	                                    <i class="flaticon-social"></i>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <i class="flaticon-social-1"></i>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <i class="flaticon-social-2"></i>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <i class="flaticon-video"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-md-2 col-sm-4 visible-sm">
	                    <div class="single-footer">
	                        <h2 class="footer-title">Shop</h2>
	                        <ul class="footer-list">
	                            <li><a href="#">Search Terms</a></li>
	                            <li><a href="#">Advance Search</a></li>
	                            <li><a href="#">Affiliates</a></li>
	                            <li><a href="#">Group Sales</a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="footer-bottom">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6">
	                    <div class="footer-bottom-left pull-left">
	                        <p>Copyright &copy; 2016 <span><a href="#">Grand Catch</a></span>. All Rights Reserved.</p>
	                    </div>
	                </div>
	                <div class="col-md-6">
	                    <div class="footer-bottom-right pull-right">
	                        <!-- <img src="img/paypal.png" alt=""> -->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</footer>
	<!-- Footer Area End -->
</body>

<!-- start modals for inactivity  -->
<script type="text/ng-template" id="warning-dialog.html">
  <div class="modal-header">
  	<h3>You have been in idle for 15 minutes.</h3>
  </div>
  <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
  	<uib-progressbar animate="false" class="progress-striped active">You'll be logged out in {{ countdown }} second(s).</uib-progressbar>
  </div>
</script>

<script type="text/ng-template" id="timedout-dialog.html">
  <div class="modal-header">
  	<h3>You've Logged Out!</h3>
  </div>
  <div class="modal-body">
  	<p>You have logged out because there was no activity for last 15 minutes.</p>
	</div>
</script>
<!-- end of modals for inactivity  -->

<!-- all js here -->
<script src='scripts/preloader.js'></script>

<script type="text/javascript" src='scripts/angular-smooth-scroll.min.js'></script>
<!-- owl.carousel js -->
<script src="scripts/owl.carousel.min.js"></script>
<!-- jquery-ui js -->
<script src="scripts/jquery-ui.min.js"></script>
<!-- jquery Counterup js -->
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/waypoints.min.js"></script>
<!-- jquery countdown js -->
<script src="scripts/jquery.countdown.min.js"></script>
<!-- jquery countdown js -->
<script type="text/javascript" src="venobox/venobox.min.js"></script>
<!-- jquery Meanmenu js -->
<script src="scripts/jquery.meanmenu.js"></script>

<!-- scrollUp JS -->
<script src="scripts/jquery.scrollUp.min.js"></script>
<!-- plugins js -->
<script src="scripts/plugins.js"></script>
<!-- wow js -->
<script src="scripts/wow.min.js"></script>
<script>
//run scroll up
new WOW().init();
</script>
<!-- main js -->
 <script src="scripts/main.js"></script>
</html>
