<!-- Modal -->
<div ng-hide="itemLoaded" class="preloader"></div>
<div ng-show="itemLoaded">
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-product">
        <div class="product-images">
          <div class="main-image images">
            <img alt="" ng-src="{{ itemDetail.PictureURL[0] }}">
          </div>
        </div>
        <div class="product-info">
          <a href='{{ itemDetail.ViewItemURLForNaturalSearch }}' target='blank'><h1 class="modal-title">{{ itemDetail.Title }}</h1></a>
          <div class="price-box">
            <p class="s-price"><span class="special-price"><span class="amount">${{ itemDetail.ConvertedCurrentPrice.Value | number:2 }}</span></span></p>
          </div>
          <b>Shipping cost:</b> ${{ itemDetail.ShippingCostSummary.ShippingServiceCost.Value | number:2 }}<br>
          <span ng-if="itemDetail.Storefront && itemDetail.Seller"><b>Seller:</b> <a href="{{ itemDetail.Storefront.StoreURL }}" target="blank">{{ itemDetail.Storefront.StoreName }}</a>(positive feedback: {{ itemDetail.Seller.PositiveFeedbackPercent }}%)<br></span>
          <span ng-if="itemDetail.Seller && !itemDetail.Storefront"><b>Seller:</b> {{ itemDetail.Seller.UserID }} (positive feedback: {{ itemDetail.Seller.PositiveFeedbackPercent }}%)<br></span>
          <b>Condition:</b> {{ itemDetail.ConditionDisplayName }}<br>
          <b>Features:</b><br>
          <ul class='feature' ng-repeat="feature in itemDetail.ItemSpecifics.NameValueList">
            <li>{{ feature.Name }}: {{ feature.Value[0] }}</li>
          </ul><br>
          <span><b>Expires at:</b> {{ itemDetail.EndTime | amUtc | amLocal | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}</span><br>
					<span><b>Time left:</b> {{ timeTill }}</span><br>
          <span class='buyIte'><a href='{{ itemDetail.ViewItemURLForNaturalSearch }}' target='blank'><button class='btn btn-success buyItem'>BUY</button></a></span>
          <div class="social-sharing">
            <div class="widget widget_socialsharing_widget">
              <h3 class="widget-title-modal">Share this product</h3>
              <ul class="social-icons">
                <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                <li><a target="_blank" title="Google +" href="#" cla`ss="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div><!-- .product-info -->
      </div>
    </div>
    <div class="modal-footer">
  	  <button class="btn btn-danger" ng-click="ok()">Close</button>
  	</div>
  </div>
</div>
