<!-- Modal -->
<div ng-hide="itemLoaded" class="preloader"></div>
<div ng-show="itemLoaded">
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-product">
        <div class="product-images">
          <div class="main-image images">
            <img alt="" ng-src="{{ itemDetail.PictureURL[0] }}">
          </div>
        </div>
        <div class="product-info">
          <a href='{{ itemDetail.ViewItemURLForNaturalSearch }}' target='blank'><h1 class="modal-title">{{ itemDetail.Title }}</h1></a>
          <div class="price-box">
            <p class="s-price"><span class="special-price"><span class="amount">${{ itemDetail.ConvertedCurrentPrice.Value }}</span></span></p>
          </div>
          <b>Condition:</b> {{ itemDetail.ConditionDisplayName }}
          <b>Features:</b>
					<span ng-repeat="list in itemDetail.ItemSpecifics.NameValueList">
						<b>{{ list.Name }}:</b> {{ list.Value[0] }}<br>
					</span>
					<span><b>Expires at:</b> {{ itemDetail.EndTime | amUtc | amLocal | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}</span><br>
					<span><b>Time left:</b> {{ timeTill }}</span><br><br>
          <div class="social-sharing">
            <div class="widget widget_socialsharing_widget">
              <h3 class="widget-title-modal">Share this product</h3>
              <ul class="social-icons">
                <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div><!-- .product-info -->
      </div>
    </div>
    <div class="modal-footer">
  	  <button class="btn btn-primary" ng-click="ok()">Close</button>
  	</div>
  </div>
</div>
