<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
</div>
<!-- Shop Area Start -->
<div class="shopping-area section-padding">
    <div class="container">
        <div class="row">
            <!-- side nav bar -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="shop-widget">
                    <div class="shop-widget-top" style='min-height:500px;'>
												<aside class="widget widget-filter">
                            <h2 class="sidebar-title text-center"><b>FILTERS</b></h2>
                            <div style="margin-top: 10px; margin-bottom: 7px;">
						                  <b>Categories</b>
                            </div>
                            <ul class="sidebar-menu" ng-repeat='category in categoryGroup'>
															<li ng-if="(filteredSearchResult | filter:count('category', category)).length != 0"><input type="checkbox" ng-model="useCategory[category]"/> {{ category }} ({{ (filteredSearchResult | filter:count('category', category)).length }})</li>
                            </ul>
                            <div style="margin-top: 30px; margin-bottom: 7px;">
                              <b>Sellers</b>
                            </div>
                            <ul class="sidebar-menu" ng-repeat='seller in sellerGroup'>
															<li ng-if="(filteredSearchResult | filter:count('seller', seller)).length != 0"><input type="checkbox" ng-model="useSeller[seller]"/> {{ seller }} ({{ (filteredSearchResult | filter:count('seller', seller)).length }})</li>
                            </ul>
                            <div style="margin-top: 30px; margin-bottom: 7px;">
                              <b>Conditions</b>
                            </div>
                            <ul class="sidebar-menu" ng-repeat='condition in conditionGroup'>
															<li ng-if="(filteredSearchResult | filter:count('condition', condition)).length != 0"><input type="checkbox" ng-model="useCondition[condition]"/> {{ condition }} ({{ (filteredSearchResult | filter:count('condition', condition)).length }})</li>
                            </ul>
                            <div style="margin-top: 30px; margin-bottom: 7px;">
                              <b>Price Range</b>
                            </div>
														<rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                            <div style="margin-top: 30px;">
                              <button ng-model="selectedItem" ng-click="uncheckAll()" class="btn btn-default">Reset filter</button>
                            </div>
                        </aside>
                    </div>
	              </div>
						</div><!-- end of side nav bar -->
						<div class="col-md-9 col-sm-9 col-xs-12">
						    <div class="shop-tab-area">
						        <!-- product menu bar -->
						        <div id='scroll' class="shop-tab-list">
						            <div class="shop-tab-pill pull-left">
						                <ul>
						                    <li class="product-size-details">
						                        <div class="show-label">
						                            <label><i class="fa fa-sort-amount-asc"></i>Sort by : </label>
						                            <select ng-model="orderByPrice">
						                                <option value="" selected="selected">Best Match</option>
						                                <option value="price">Price: Lowest first</option>
						                                <option value="-price">Price: Highest first</option>
						                            </select>
						                        </div>
						                    </li>
						                </ul>
						            </div>
						        </div> <!-- end of product menu -->
						        <div class="pagination">
						            <!-- <div ng-controller="paginateController">
						                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
						            </div> -->
						        </div>
                    <div class="content">
                        <div class="tab-content">
                            <div class="row" id='home'>
                                <div ng-hide="dataLoaded" class="preloader">
                                </div>
                                <!-- show table if dataLoaded is true -->
                                <div ng-show="dataLoaded">
                                    <div class="shop-single-product-area">
                                        <div dir-paginate="item in filteredSearchResult | orderBy:orderByPrice | filter:priceRange | itemsPerPage: 12" current-page='currentPage' ng-controller='reviewController'>
                                        <!-- single product listing -->
                                        <div smooth-scroll></div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" id='scroll' ng-controller="modalController">
                                            <div class="single-banner">
                                                <div class="product-wrapper">
                                                    <div ng-mouseenter='hover = true' ng-mouseleave='hover = false' class="product-bg">
                                                        <span class="helper"></span><a href='{{ item.view }}' target='_blank'><img class='product-img' ng-src="{{ item.img }}"></a>
                                                        <div ng-if='!isWishlist(item)' class="functional-buttons">
                                                          <a ng-if="item.seller == 'amazon'" href="" ng-click="addToWishlist(item)" title="Add to Wishlist">
                                                            <i class="fa fa-heart"></i>
                                                          </a>
                                                          <a ng-if="item.seller == 'ebay'" href="" ng-click="addToWishlist(itemDetail)" title="Add to Wishlist">
                                                            <i class="fa fa-heart"></i>
                                                          </a>
                                                        </div>
                                                        <div ng-if='isWishlist(item)' class="functional-buttons-wishlist">
                                                          <a href="" ng-click="removeWishlist(item.wid)" title="Remove from Wishlist">
                                                            <i class="fa fa-heart"></i>
                                                          </a>
                                                        </div>
                                                        <a ng-if="item.seller == 'amazon'" href="" ng-click="amazonDisplay(item, 'lg')"><div ng-class='{quickview: hover}'><p>Quick View</p></div></a>
                                                        <a ng-if="item.seller == 'ebay'" href="" ng-click="ebayDisplay(itemDetail, 'lg')"><div ng-class='{quickview: hover}'><p>Quick View</p></div></a>
                                                    </div>
                                                </div>
                                                <div class="banner-bottom text-center">
                                                  <div ng-if="item.seller == 'ebay'">
                                                    <div class="banner-bottom-title">
                                                      <a href="" ng-click="ebayDisplay(itemDetail, 'lg')">{{ item.title }}</a>
                                                      <!-- {{ item.title }} -->
                                                    </div>
                                                  <div class="product-details text-center">
                                                    <span class="sellerInfo"><b>Seller:</b> {{ item.seller }} <br>
                                                    <span class='priceSize'><span>$</span>{{ item.price | number:2 }} <br></span>
                                                  </div>
                                                  <span ng-if='ebayReview != undefined'><a target='blank' href='{{ reviewURL }}'>
                                                  <div class="average" align="center">
                                                    <average-star-rating ng-model="ebayReview" max="5"><average-star-rating>
                                                  </div>
                                                  {{ ebayReview }} out of 5</a>
                                                  </span>
                                                  <span ng-if='ebayReview == undefined'>No customer review available</span>
                                                </div>
                                                <div ng-if="item.seller == 'amazon'">
                                                  <div class="banner-bottom-title">
                                                    <a href="" ng-click="amazonDisplay(item, 'lg')">{{ item.title }}</a>
                                                    <!-- {{ item.title }} -->
                                                  </div>
                                                  <div style='text-transform:capitalize' class="product-details text-center">
                                                    <span class="sellerInfo"><b>Seller:</b> {{ item.seller }}
                                                    <span ng-if='item.prime_item'><img class='amazonPrimeIcon' src="images/amazonPrime1.png"></span><br>
                                                    <span ng-if='item.price != 0 && item.percentage_Saved == "N/A"'><span class='priceSize'>${{ item.price | number:2 }} <br></span></span>
                                                    <span ng-if='item.price != 0 && item.percentage_Saved != "N/A"'><span class='priceSize'><strike>${{ item.price | number:2 }}</strike> ${{ item.sale_price }} (save {{ item.percentage_Saved }}%)<br></span></span>
                                                    <span ng-if='item.price == 0'><span class='priceSize'>Check website for price<br></span></span>
                                                  </div>
                                                  <span ng-if='amazonReview != undefined'><a target='blank' ng-init='getReviewURL(item.id,item.view)' href='{{ amazonReviewURL }}'>
                                                    <div class="average" align="center">
                                                      <average-star-rating ng-model="amazonReview" max="5"><average-star-rating>
                                                    </div>
                                                    {{ amazonReview }} out of 5</a>
                                                  </span>
                                                  <span ng-if='amazonReview == undefined'>No customer review available</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end of single product listing -->
                                </div> <!-- end of products area -->
                            </div> <!-- end of dir-pagination directive -->
                        </div>
                    </div>
                </div>
                <div ng-show="dataLoaded">
                  <div scroll-to='scroll'>
                    <div ng-click='scrollTop()' ng-controller="paginateController">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                  </div>
                </div>
            </div> <!-- end of content -->
						</div>
					</div>
				</div>
		</div>
</div> <!-- Shop Area End -->
