<div class="modal-header">
   <h3>Login</h3>
   <p class='warning' ng-show="login_errors.length > 0">{{ login_errors[0] }}</p>
 </div>
 <form name="loginForm" novalidate>
   <!-- <input type="hidden" name="_csrf" value="{{ X-CSRFToken }}" ng-model="user.csrf_token"> -->
   <div class="modal-body">
     <!-- EMAIL -->
     <div class="form-group">
       <label>Email</label>
       <input type="email" name="email" class="form-control" ng-model="user.email" required>
       <!-- <p ng-show="!loginForm.email.$dirty" class="help-block">&nbsp;Email required.</p> -->
       <p ng-show="loginForm.email.$error.email && loginForm.email.$dirty" class="help-block">&nbsp;Enter a valid email.</p>
     </div>

     <!-- PASSWORD -->
     <div class="form-group">
       <label>Password</label>
       <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" required>
       <!-- <p ng-show="!loginForm.password.$dirty" class="help-block">&nbsp;Password required.</p> -->
     </div>
   </div>

   <div class="modal-footer">
     If you are not a member, please register first.&nbsp;&nbsp;
     <!-- <button class="btn btn-info" ng-click="register()">Register</button><br><br> -->
     <button class="btn btn-primary" ng-disabled="!loginForm.$valid" ng-click="login()">Sign In</button>
     <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
   </div>
 </form>
