<div class='row'>
	<div class='container-fluid'>

		<!-- Daily Deals Area Start -->
		<div class="featured-product-area section-padding">
      <h2 class="section-title">DAILY DEALS</h2>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
								<ng-include src='"partials/dailydeals.html"'></ng-include>
              </div>
          </div>
			</div>
		</div>
		<!-- Daily Deals Area End -->
		<!-- Top Selling Products Area Start -->
		<div class="featured-product-area section-padding">
      <h2 class="section-title">AMAZON TOP SELLING PRODUCTS</h2>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="tab-menu">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs">
                          <li ng-class="{active: main.active.tab == 'a_appliances'}" class='first-item'>
                              <a ng-click="main.active.tab = 'a_appliances'">APPLIANCES</a>
                          </li>
													<li ng-class="{active: main.active.tab == 'a_phones_accessories'}">
                              <a ng-click="main.active.tab = 'a_phones_accessories'">CELL PHONES & ACCESSORIES</a>
                          </li>
													<li ng-class="{active: main.active.tab == 'a_fashion'}">
                              <a ng-click="main.active.tab = 'a_fashion'">CLOTHING, SHOES & JEWELRY</a>
                          </li>
													<li ng-class="{active: main.active.tab == 'a_computers'}">
                              <a ng-click="main.active.tab = 'a_computers'">COMPUTERS</a>
                          </li>
													<li ng-class="{active: main.active.tab == 'a_health_personal_care'}">
                              <a ng-click="main.active.tab = 'a_health_personal_care'">HEALTH & PERSONAL CARE</a>
                          </li>
													<li ng-class="{active: main.active.tab == 'a_home_kitchen'}">
                              <a ng-click="main.active.tab = 'a_home_kitchen'">HOME & KITCHEN</a>
                          </li>
													<!-- <li ng-class="{active: main.active.tab == 'luggage_travel'}">
                              <a ng-click="main.active.tab = 'luggage_travel'">LUGGAGE & TRAVEL GEAR</a>
                          </li> -->
													<li ng-class="{active: main.active.tab == 'a_office_product'}">
                              <a ng-click="main.active.tab = 'a_office_product'">OFFICE PRODUCT</a>
                          </li>
													<li ng-class="{active: main.active.tab == 'a_sports_outdoors'}">
                              <a ng-click="main.active.tab = 'a_sports_outdoors'">SPORTS & OUTDOORS</a>
                          </li>
													<li ng-class="{active: main.active.tab == 'a_home_improvement'}">
                              <a ng-click="main.active.tab = 'a_home_improvement'">TOOLS & HOME IMPROVEMENT</a>
                          </li>
													<li ng-class="{active: main.active.tab == 'a_toys_games'}">
                              <a ng-click="main.active.tab = 'a_toys_games'">TOYS & GAMES</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="product-list tab-content">
                  <div ng-switch='main.active.tab'>
										<div ng-switch-default='a_appliances'>
											<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_appliances'"></ng-include>
										</div>
                      <div ng-switch-when='a_appliances'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_appliances'"></ng-include>
                      </div>
											<div ng-switch-when='a_phones_accessories'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_phones_accessories'"></ng-include>
                      </div>
											<div ng-switch-when='a_fashion'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_fashion'"></ng-include>
                      </div>
											<div ng-switch-when='a_computers'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_computers'"></ng-include>
                      </div>
											<div ng-switch-when='a_health_personal_care'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_health_personal_care'"></ng-include>
                      </div>
											<div ng-switch-when='a_home_kitchen'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_home_kitchen'"></ng-include>
                      </div>
											<div ng-switch-when='a_luggage_travel'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_luggage_travel'"></ng-include>
                      </div>
											<div ng-switch-when='a_office_product'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_office_product'"></ng-include>
                      </div>
											<div ng-switch-when='a_sports_outdoors'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_sports_outdoors'"></ng-include>
                      </div>
											<div ng-switch-when='a_home_improvement'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_home_improvement'"></ng-include>
                      </div>
											<div ng-switch-when='a_toys_games'>
												<ng-include src='"partials/popularAmazonItem.html"' ng-init="department = 'a_toys_games'"></ng-include>
                      </div>
                  </div>
              </div>
          </div>
      </div>
			<h2 class="section-title ebay-topselling">EBAY TOP SELLING PRODUCTS</h2>
			<div class="container">
          <div class="row">
              <div class="col-md-12">
								<div class="tab-menu">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs">
												<li ng-class="{active: main.eactive.tab == 'e_home_graden'}" class='first-item'>
														<a ng-click="main.eactive.tab = 'e_home_garden'">HOME & APPLIANCES</a>
												</li>
												<li ng-class="{active: main.eactive.tab == 'e_baby'}">
														<a ng-click="main.eactive.tab = 'e_baby'">BABY</a>
												</li>
												<li ng-class="{active: main.eactive.tab == 'e_phones_accessories'}">
														<a ng-click="main.eactive.tab = 'e_phones_accessories'">CELL PHONES & ACCESSORIES</a>
												</li>
												<li ng-class="{active: main.eactive.tab == 'e_fashion'}">
														<a ng-click="main.eactive.tab = 'e_fashion'">CLOTHING, SHOES & ACCESSORIES</a>
												</li>
												<li ng-class="{active: main.eactive.tab == 'e_computers'}">
														<a ng-click="main.eactive.tab = 'e_computers'">COMPUTERS</a>
												</li>
												<li ng-class="{active: main.eactive.tab == 'e_electronics'}">
														<a ng-click="main.eactive.tab = 'e_electronics'">ELECTRONICS</a>
												</li>
												<li ng-class="{active: main.eactive.tab == 'e_health_beauty'}">
														<a ng-click="main.eactive.tab = 'e_health_beauty'">HEALTH & BEAUTY</a>
												</li>
												<li ng-class="{active: main.eactive.tab == 'e_jewelry_watches'}">
														<a ng-click="main.eactive.tab = 'e_jewelry_watches'">JEWELRY & WATCHES</a>
												</li>
												<!-- <li ng-class="{active: main.eactive.tab == 'luggage_travel'}">
														<a ng-click="main.eactive.tab = 'luggage_travel'">LUGGAGE & TRAVEL GEAR</a>
												</li> -->
												<!-- <li ng-class="{active: main.eactive.tab == 'e_office_product'}">
														<a ng-click="main.eactive.tab = 'e_office_product'">OFFICE PRODUCT</a>
												</li> -->
												<li ng-class="{active: main.eactive.tab == 'e_sporting_goods'}">
														<a ng-click="main.eactive.tab = 'e_sporting_goods'">SPORTING GOODS</a>
												</li>
												<!-- <li ng-class="{active: main.eactive.tab == 'e_home_improvement'}">
														<a ng-click="main.eactive.tab = 'e_home_improvement'">TOOLS & HOME IMPROVEMENT</a>
												</li> -->
												<li ng-class="{active: main.eactive.tab == 'e_toys_hobbies'}">
														<a ng-click="main.eactive.tab = 'e_toys_hobbies'">TOYS & HOBBIES</a>
												</li>
										</ul>
								</div>
						</div>
				</div>
				<div class="row">
						<div class="product-list tab-content">
								<div ng-switch='main.eactive.tab'>
									<div ng-switch-default='e_home_garden'>
										<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_home_garden'"></ng-include>
									</div>
										<div ng-switch-when='e_home_garden'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_home_garden'"></ng-include>
										</div>
										<div ng-switch-when='e_baby'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_baby'"></ng-include>
										</div>
										<div ng-switch-when='e_phones_accessories'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_phones_accessories'"></ng-include>
										</div>
										<div ng-switch-when='e_fashion'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_fashion'"></ng-include>
										</div>
										<div ng-switch-when='e_computers'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_computers'"></ng-include>
										</div>
										<div ng-switch-when='e_electronics'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_electronics'"></ng-include>
										</div>
										<div ng-switch-when='e_health_beauty'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_health_beauty'"></ng-include>
										</div>
										<div ng-switch-when='e_jewelry_watches'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_jewelry_watches'"></ng-include>
										</div>
										<div ng-switch-when='e_sporting_goods'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_sporting_goods'"></ng-include>
										</div>
										<!-- <div ng-switch-when='e_home_improvement'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_home_improvement'"></ng-include>
										</div> -->
										<div ng-switch-when='e_toys_hobbies'>
											<ng-include src='"partials/popularEbayItem.html"' ng-init="department = 'e_toys_hobbies'"></ng-include>
										</div>
								</div>
							</div>
					</div>
			</div>
		</div>
		<!-- Featured Product Area End -->
	</div>
</div>
<script type="text/javascript" src='scripts/angular-smooth-scroll.min.js'></script>
