<div ng-controller='topEbaySellerController'>
  <div ng-repeat='eItem in ebayItems' class="shop-single-product-area" ng-controller='topSingleItemController'>
    <div class="col-md-3 col-sm-4 col-xs-12" id='scroll'>
      <div class="single-banner">
        <div class="product-wrapper">
          <div ng-mouseenter='hover = true' ng-mouseleave='hover = false' class="product-bg">
            <span class="helper"></span>
            <img class='product-img' ng-src="{{ eItemDetail.PictureURL[0]}}">
            <div class="functional-buttons">
              <a href="#" title="Add to Wishlist">
                <i class="fa fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="popularE-banner-bottom text-center">
          <div class="banner-bottom-title">
            <a href='{{ eItem.viewItemURL }}' target="blank">{{ eItem.title }}</a>
          </div>
          <div class="product-details text-center quick-add-to-cart">
            <!-- {{ eItem.primaryCategoryId }}: {{ eItem.primaryCategoryName }} -->
            <div class="dealsReview">
              <span class='priceSize'>Price: ${{ eItem.buyItNowPrice['__value__'] | number:2 }}</span>
            </div>
            <div class="similarItems">
              <a href='{{ eItem.viewItemURL }}' target="_blank"><button class="single_add_to_cart_button top-buy-item">Buy</button></a>
              <!-- <form>
                <input type="hidden" name="keywords" ng-init="keywords = eItem.keywords" ng-model="search.keywords">
          			<a href="#/search/{{ keywords }}"><button type="submit" class="single_add_to_cart_button">Search for similar products</button></a>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of single product listing -->
  </div> <!-- end of products area -->
</div>
