<!-- <div class='partial'>
	<div class='row'>
 		<div class='col-md-3'>
			<div ng-if="register_errors.length > 0" class="alert alert-danger">
		    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<p ng-repeat="i in register_errors">{{i}}</p>
		  </div>
		</div>
 </div>
 <div class='col-md-3'>
	 	<div class='row'>
			<form>
				<div class='form-group'>
					<label>Name:</label><input class='form-control' type='text' ng-model='user.name'></input>
				</div>
				<div class='form-group'>
					<label>Email:</label><input type='email' class='form-control' ng-model='user.email'></input>
				</div>
				<div class='form-group'>
					<label>Password:</label><input class='form-control'  type='text' ng-model='user.password'></input>
				</div>
				<div class='form-group'>
					<label>Password Confirmation:</label><input class='form-control' type='text' ng-model='user.confirm_password'></input>
				</div>
				<div class='form-group'>
					<button class='btn btn-primary' type='submit' ng-click='newUser()'>Submit</button>
				</div>
			</form>
	 	</div>
 	</div>
</div> -->
<div class="modal-header">
  <h3>Create A New Account!</h3>
  <p ng-show="register_errors.length > 0">{{ register_errors }}</p>
</div>
<form name="regForm" novalidate>
  <div class="modal-body">
    <!-- FIRST NAME -->
    <div class="form-group">
      <label>First Name</label>
      <input type="text" name="fname" class="form-control" ng-model="user.fname" ng-minlength="3" required>
      <p ng-show="!regForm.fname.$dirty" class="help-block">First name is required.</p>
      <p ng-show="!regForm.fname.$error.required && regForm.fname.$error.minlength && regForm.fname.$dirty" class="help-block">First name is too short. Must be at least 3 characters.</p>
    </div>

    <!-- LAST NAME -->
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" name="lname" class="form-control" ng-model="user.lname" ng-minlength="2" required>
      <p ng-show="!regForm.lname.$dirty" class="help-block">Last name is required.</p>
      <p ng-show="regForm.lname.$error.minlength" class="help-block">Last name is too short. Must be at least 2 characters.</p>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" class="form-control" ng-model="user.email" required>
      <p ng-show="!regForm.email.$dirty" class="help-block">Email required.</p>
      <p ng-show="regForm.email.$error.email && regForm.email.$dirty" class="help-block">Enter a valid email.</p>
      <p ng-show="register_email_error.length > 0" class="help-block">{{ register_email_error[0] }}.</p>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" required>
      <p ng-show="!regForm.password.$dirty" class="help-block">Password required.</p>
      <p ng-show="regForm.password.$error.minlength && regForm.password.$dirty" class="help-block">Password is too short. Must be at least 8 characters long.</p>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" name="cpassword" class="form-control" ng-model="user.cpassword" data-password-verify="user.password" required>
      <p ng-show="!regForm.cpassword.$dirty" class="help-block">Confirm password required.</p>
      <p ng-show="regForm.cpassword.$error.passwordVerify" class="help-block">Confirm password and password must match.</p>
    </div>
  </div>

  <div class="modal-footer">
    If you are already a member, please login.&nbsp;&nbsp;
    <button class="btn btn-primary" ng-disabled="!regForm.$valid" ng-click="register()">Register</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
