.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.shopping-area {
  margin-top: 50px;
}

img#logo{
   width: 100px;
   height: auto;
}

@media (max-width: 470px) {
  img#logo{
     width: 50px;
     height: auto;
  }
  input[type="text"]#search_keywords::-webkit-input-placeholder {
    padding-top: 5px;
    font-size: 12px;
  }
  input[type="text"]#search_keywords::-moz-placeholder { /* Firefox 19+ */
    padding-top: 5px;;
  }
  input[type="text"]#search_keywords:-ms-input-placeholder { /* IE 10+ */
    padding-top: 5px;;
    }
  input[type="text"]#search_keywords:-moz-placeholder { /* Firefox 18- */
    padding-top: 5px;;
  }
}

@media (min-width: 780px) {
  input#search_keywords.form-control {
    width: 400px;
  }
  .pullright {
    margin-left: -12px;
  }
}

div.product-wrapper {
  /*position: relative;*/
}


div.quickview{
  position: absolute;
  /*max-width: 270px;*/
  width: 100%;
  height: 40px;
  background-color: grey;
  bottom: 0;
  opacity: 0.8;
}

div.quickview p {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0; left: 0;
  bottom: 8px;
  }

span.priceSize{
  font-size: 16px;
  position: relative;
  top: 8px;
}

button.buyItem {
  margin: 10px 0;
  padding-bottom: 2px;
}

.top-buy-item {
  width: 80%;
  float: none !important;
}
