span.amazonUpper {
  text-transform: capitalize;
}
div.quickview{
  position: absolute;
  width: 260px;
  height: 40px;
  background-color: grey;
  bottom: 0;
  opacity: 0.8;
}

div.quickview p {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0; left: 0;
  bottom: 8px;
  }

span.priceSize{
  font-size: 18px;
  position: relative;
  top: 8px;
}

span.sellerInfo{
  font-size: 12px;
  /*color: #555555;*/
}

img.amazonPrimeIcon{
  position: relative;
  top: -3px;
  left: -2px;
  width: 55px;
  height: auto;
  vertical-align:
}

img.reviews {
  width: 70px;
  height: auto;
}

div.header-logo{
  position: relative;
  top: -20px;
  left: 50px;
}
i.fa-anchor{
  color: #E1E1E1;
}

i.fa-anchor:hover{
  color: white;
}

div.shop-tab-area{
/*  border: 1px solid red;*/
}

div.shop-tab-list{
 /* border: 1px solid blue;*/
}
div.shopping-area{
  /*position: relative;
  bottom: -60px;*/
}

div.content{
  position: relative;
  top: -80px;
  /*overflow: hidden;*/
/*  border: 1px solid green;*/
}

div.pagination{
 /* border: 1px solid purple;*/
 /* margin-left: 25%;*/
 position: relative;
 top: -20px;
 margin-bottom: 50px;
}

div.product-bg{
 /* border: 1px solid red;*/
  width: 260px;
  height: 280px;
  position: relative;
  /*background-color: white;*/
  text-align: center;
  /* remove the gap between inline(-block) elements */
  font: 0/0 a;
}

span.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.product-img{
  /*min-width: 160px;*/
  max-width: 180px;
  height: auto;
  max-height: 260px;
  display: inline-block;
  vertical-align: middle;
}

div.searchBar{
  margin-top: 20px;
  text-align: center
}

div.searchBar input{
  border: 2px solid #40acd7;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
/*  color: #444444;*/
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  position: relative;
  width: 40%;
}

div.searchBar button {
  background: #40acd7 none repeat scroll 0 0;
  border: medium none;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 22px;
  height: 50px;
  line-height: 22px;
  position: absolute;
  width: 70px;

}

table {
  border-collapse: separate;
  border-spacing: 0;
 /* border-collapse: collapse;*/
  margin-top: 20px;
}

th, td {
  padding: 10px 15px !important;
}

td {
  border: 1px solid #cecfd5;
}

th {
  font-weight: bold;
}

thead {
  background: #395870;
  color: #fff;
}

tr:nth-child(even) {
  background: #f0f0f2;
}

#search_btn1 {
  margin-bottom: 20px;
}

.preloader {
  /*padding: 50px;*/
  width: 100px;
  height: 100px;
  position: relative;
  top: 250px;
  left: 400px;
  /*background: url('/images/loading-blue.gif') no-repeat;*/
  background: url('/images/octo.gif') no-repeat;
  background-size: contain;
}

div.navbar-header{
  background: white;
}

div#bs-example-navbar-collapse-1.collapse.navbar-collapse, div.container-fluid {
   background: white;
}

input:invalid {
  border: 1px solid red;
}

.warning{
  color: red;
}

.description{
  all: initial;
}

.feature {
  /*list-style-position: insid`e;*/
  padding-left: 20px;
  margin: 0px;
  list-style-type: square;
}

.average-rating-container {
  position:relative;
  height:31px;
  width:103px;
  overflow:hidden;

  .background {
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
    white-space: nowrap;
  }
}

.average-rating-container .foreground {
  position: absolute;
  top:0;
  left:0;
  overflow:hidden;
  white-space: nowrap;
}

.average-rating-container li {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.average-rating-container li.filled {
  color: #fd0; //#21568b
}

h2.sidebar-title{
  margin-bottom: 0px;
}

.ebay-topselling{
  margin-top: 40px;
}

.dailydeals{
  width: 100%;
}

/*table and desktop*/
@media screen and (min-width: 768px) {
  .paginationDeals{
    position: relative;
    left: 35%;
    margin-bottom: 0px;
  }
}

/*large mobile phone*/
@media screen and (max-width: 479px) {
  .shop-tab-list {
      min-height: 70px;
  }
}
